
<button  (click)="openModal()">abrir modal</button>

<ng-template #modalContainer></ng-template>
<ng-template #pruebaTemplate>
  <app-prueba></app-prueba>
</ng-template>


<p class="text-primary font-bold text-3xl animate-fadeIn">ddd</p>
<p class="text-secondary font-bold text-3xl">ddd</p>
<p class="text-success font-bold text-3xl">ddd</p>
<p class="text-info font-bold text-3xl">ddd</p>
<p class="text-warning font-bold text-3xl">ddd</p>
<p class="text-danger font-bold text-3xl">ddd</p>
<p class="text-light font-bold text-3xl">light</p>
<p class="text-dark font-bold text-3xl">ddd</p>

<button class="bg-gr-primary text-white font-bold text-3xl px-12 py-6">ddd</button>

<button class="bg-gr-secondary font-bold text-light text-3xl px-12 py-6">ddd</button>
<button class="bg-gr-success font-bold text-light text-3xl px-12 py-6">ddd</button>
<button class="bg-gr-info font-bold text-light text-3xl px-12 py-6">ddd</button>
<button class="bg-gr-warning font-bold text-light text-3xl px-12 py-6">ddd</button>
<button class="bg-gr-danger font-bold text-light text-3xl px-12 py-6">ddd</button>
<button class="bg-gr-dark font-bold text-light text-3xl px-12 py-6">ddd</button>




<router-outlet />
